// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.field_with_errors{
  display: inline-block;

  input{
    border: 2px solid red;
    outline: none;
  }

  label{
    color: red;
  }

  textarea{
    border: 2px solid red;
    outline: none;
  }
}